In [2]:
import pandas as pd
from time import time
from sqlalchemy import create_engine

In [12]:
df = pd.read_csv('data/yellow_tripdata_2021-01.csv')

/tmp/ipykernel_7801/4171137630.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/yellow_tripdata_2021-01.csv')

In [13]:
df['tpep_pickup_datetime'] = pd.to_datetime(df.tpep_pickup_datetime)
df['tpep_dropoff_datetime'] = pd.to_datetime(df.tpep_dropoff_datetime)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,NaN,135,82,NaN,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,NaN,42,161,NaN,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,NaN,14,106,NaN,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,NaN,175,216,NaN,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,NaN,248,168,NaN,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df, name='yellow_taxi', con=engine ))

CREATE TABLE "yellow_taxi" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [15]:
df_iter = pd.read_csv('ny_taxi_data/yellow_tripdata_2021-01.csv', iterator=True, \
                      chunksize=10000)

In [17]:
df.head(0).to_sql(name='yellow_taxi', con=engine, if_exists='replace')

0

In [22]:
while True:
    t_start = time()
    df = next(df_iter)
    df['tpep_pickup_datetime'] = pd.to_datetime(df.tpep_pickup_datetime)
    df['tpep_dropoff_datetime'] = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi', con=engine, if_exists='append')
    t_end = time()
    print(f'Chunk inserted in {t_start - t_end}')

Chunk inserted in -1.1608171463012695
Chunk inserted in -0.8475024700164795
Chunk inserted in -0.921058177947998
Chunk inserted in -1.2350423336029053
Chunk inserted in -0.8379809856414795
Chunk inserted in -0.8993189334869385
Chunk inserted in -0.8706891536712646
Chunk inserted in -2.038717031478882
Chunk inserted in -1.8713672161102295
Chunk inserted in -1.2024855613708496
Chunk inserted in -1.6598560810089111
Chunk inserted in -2.1613473892211914
Chunk inserted in -1.1133360862731934
Chunk inserted in -1.433114767074585
Chunk inserted in -0.9726135730743408
Chunk inserted in -0.9256165027618408
Chunk inserted in -1.9880530834197998
Chunk inserted in -0.9290838241577148
Chunk inserted in -1.0570504665374756
Chunk inserted in -0.9749834537506104
Chunk inserted in -1.115328073501587
Chunk inserted in -1.0543248653411865
Chunk inserted in -1.1469476222991943
Chunk inserted in -1.5259196758270264
Chunk inserted in -0.9160001277923584
Chunk inserted in -0.9404642581939697
Chunk inserted in -0.899773120880127
Chunk inserted in -0.8905646800994873
Chunk inserted in -1.0177881717681885
Chunk inserted in -0.9166195392608643
Chunk inserted in -0.9941482543945312
Chunk inserted in -1.0491962432861328
Chunk inserted in -1.027796745300293
Chunk inserted in -0.9905951023101807
Chunk inserted in -1.7657265663146973
Chunk inserted in -1.1159641742706299
Chunk inserted in -1.0713341236114502
Chunk inserted in -0.9168984889984131
Chunk inserted in -1.0688426494598389
Chunk inserted in -0.8722195625305176
Chunk inserted in -1.0540664196014404
Chunk inserted in -1.215447187423706
Chunk inserted in -1.1210956573486328
Chunk inserted in -0.90439772605896
Chunk inserted in -1.1599767208099365
Chunk inserted in -1.070608139038086
Chunk inserted in -1.4606359004974365
Chunk inserted in -0.8794341087341309
Chunk inserted in -0.9404656887054443
Chunk inserted in -1.0336871147155762
Chunk inserted in -1.016230583190918
Chunk inserted in -0.9472906589508057
Chunk inserted in -1.3793971538543701
Chunk inserted in -0.8744144439697266
Chunk inserted in -1.206636667251587
Chunk inserted in -1.1114320755004883
Chunk inserted in -1.067094087600708
Chunk inserted in -1.362239122390747
Chunk inserted in -1.2689785957336426
Chunk inserted in -0.9685723781585693
Chunk inserted in -1.0396959781646729
Chunk inserted in -1.030505657196045
Chunk inserted in -1.010551929473877
Chunk inserted in -1.047253131866455
Chunk inserted in -2.463735580444336
Chunk inserted in -1.002507209777832
Chunk inserted in -1.0877602100372314
Chunk inserted in -1.0552787780761719
Chunk inserted in -1.0183382034301758
Chunk inserted in -1.3370916843414307
Chunk inserted in -1.5995595455169678
Chunk inserted in -0.9651286602020264
Chunk inserted in -1.0402543544769287
Chunk inserted in -0.9796526432037354
Chunk inserted in -1.026750087738037
Chunk inserted in -1.0075511932373047
Chunk inserted in -1.7782320976257324
Chunk inserted in -0.9386622905731201
Chunk inserted in -1.1506333351135254
Chunk inserted in -1.0664896965026855
Chunk inserted in -1.3512978553771973
Chunk inserted in -1.0687520503997803
Chunk inserted in -1.8394286632537842
Chunk inserted in -1.014376163482666
Chunk inserted in -0.9579775333404541
Chunk inserted in -1.0449934005737305
Chunk inserted in -1.109544038772583
Chunk inserted in -1.1363890171051025
Chunk inserted in -1.5872282981872559
Chunk inserted in -0.9594237804412842
Chunk inserted in -1.01094651222229
Chunk inserted in -0.9519987106323242
Chunk inserted in -1.0433626174926758
Chunk inserted in -1.3330411911010742
Chunk inserted in -1.514528512954712
Chunk inserted in -0.9600496292114258
Chunk inserted in -1.0044827461242676
Chunk inserted in -1.0125434398651123
Chunk inserted in -0.9860167503356934
Chunk inserted in -1.025400161743164
Chunk inserted in -1.0393447875976562
Chunk inserted in -1.151825189590454
Chunk inserted in -1.4358234405517578
Chunk inserted in -1.1158015727996826
Chunk inserted in -1.092102289199829
Chunk inserted in -1.5107364654541016
Chunk inserted in -1.4200332164764404
Chunk inserted in -1.310098648071289
Chunk inserted in -1.096649408340454
Chunk inserted in -0.9640958309173584
Chunk inserted in -1.0468881130218506
Chunk inserted in -1.2578539848327637
Chunk inserted in -0.9830303192138672
Chunk inserted in -1.3130383491516113
Chunk inserted in -1.1969690322875977
Chunk inserted in -1.045409917831421
Chunk inserted in -0.9418861865997314
Chunk inserted in -1.3257460594177246
Chunk inserted in -1.0180189609527588
Chunk inserted in -1.7254576683044434
Chunk inserted in -0.9677748680114746
Chunk inserted in -1.0312025547027588
Chunk inserted in -1.0273361206054688
Chunk inserted in -1.0037410259246826
Chunk inserted in -0.9695043563842773
Chunk inserted in -1.369471549987793
Chunk inserted in -1.1993753910064697
Chunk inserted in -1.3281219005584717
Chunk inserted in -1.4209961891174316
Chunk inserted in -1.2962946891784668
Chunk inserted in -1.0865917205810547
Chunk inserted in -1.011124610900879
Chunk inserted in -1.9552547931671143
Chunk inserted in -1.036653995513916
Chunk inserted in -1.3564260005950928
Chunk inserted in -1.0777649879455566
Chunk inserted in -0.873058557510376

StopIteration:

In [9]:
df_zones = pd.read_csv('data/taxi+_zone_lookup.csv')

In [10]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [11]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

In [14]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.00,3.00,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.00,0.50,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.00,0.50,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.00,0.50,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.50,0.50,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369760,NaN,2021-01-25 08:32:04,2021-01-25 08:49:32,NaN,8.80,NaN,NaN,135,82,NaN,21.84,2.75,0.5,0.00,0.0,0.3,25.39,0.0
1369761,NaN,2021-01-25 08:34:00,2021-01-25 09:04:00,NaN,5.86,NaN,NaN,42,161,NaN,26.67,2.75,0.5,0.00,0.0,0.3,30.22,0.0
1369762,NaN,2021-01-25 08:37:00,2021-01-25 08:53:00,NaN,4.45,NaN,NaN,14,106,NaN,25.29,2.75,0.5,0.00,0.0,0.3,28.84,0.0
1369763,NaN,2021-01-25 08:28:00,2021-01-25 08:50:00,NaN,10.04,NaN,NaN,175,216,NaN,28.24,2.75,0.5,0.00,0.0,0.3,31.79,0.0
1369764,NaN,2021-01-25 08:38:00,2021-01-25 08:50:00,NaN,4.93,NaN,NaN,248,168,NaN,20.76,2.75,0.5,0.00,0.0,0.3,24.31,0.0